{% extends "layout_home.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">
      Get started
    </h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Using the Developer Hub</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Authorisation</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Tutorials</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Terms of use</a>
      </li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">
      Explore APIs
    </h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">API documentation</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Reference guide</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Development practices</a>
      </li>
    </ul>

  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">
      Integrate
    </h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Manage applications</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Testing in the sandbox</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Create a test user</a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
